.main-screen {
  width: 100%;
  height: 676px;
  margin-top: 33px;
  background: #F5F1E9;
  position: relative;
  overflow: hidden;

  &__head {
      width: 600px;
      margin: 178px auto 0;
      font-family: $PTSerifBold;
      font-size: 44px;
      line-height: 58px;
      text-align: center;
      text-transform: uppercase;
      color: #343434;
  }

  &__text {
      width: 300px;
      margin: 34px auto 0;
      font-family: $PTSansRegular;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      color: #343434;
  }

  &__button {
    margin: 77px auto 0;
  }

  &__image1 {
    position: absolute;
    width: 333.08px;
    height: 378.72px;
    top: 0;
    background: url(../img/jacket.png) no-repeat;
  }

  &__image2 {
    position: absolute;
    width: 311px;
    height: 213.03px;
    top: 0;
    right: 74.38px;
    background: url(../img/bag.png) no-repeat;
  }

  &__image3 {
    position: absolute;
    width: 384px;
    height: 300px;
    left: 55px;
    bottom: -20px;
    background: url(../img/hat.png) no-repeat;
  }
  &__image4 {
    position: absolute;
    width: 449px;
    height: 665px;
    right: 0;
    top: 205px;
    background: url(../img/jacket2.png) no-repeat;
  }
}