.button {
  width: 226px;
  height: 46px;
  display: block;
  border-radius: 400px;
  border: none;
  background: #343434;
  text-align: center;
  cursor: pointer;

  &_small {
    width: 114px;
    height: 40px;
    margin-right: -1px;
  }

  &_small-text {
    font-family: $PTSansRegular;
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
  }

  &__text {
    font-family: $PTSansRegular;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 46px;

    &_black {
      font-family: $PTSerifBold;
      font-size: 20px;
      line-height: 62px;
      color: #343434;
    }
  }

  &_white {
    height: 62px;
    background: #FFFFFF;
    opacity: 0.8;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    cursor: pointer;
  }

  &_round {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    &_left {
      width: 10px;
      height: 16px;
      margin: 12px 16px 12px 14px;
      background: url(../img/arrow.png);
    }

    &_right {
      width: 10px;
      height: 16px;
      margin: 12px 14px 12px 16px;
      background: url(../img/arrow.png);
      transform: rotate(180deg);
    }
  }

  &_like {
    width: 37px;
    height: 37px;
    background: url(../img/like.png);
  }

  &_compare {
    width: 37px;
    height: 37px;
    background: url(../img/compare.png);
  }

  &_quick-view {
    width: 169px;
    height: 41px;
    background: #FFFFFF;
    opacity: 0.85;
  }

  &__arrow {
    width: 10px;
    height: 16px;

    &_white {
      background: url(../img/arrow_white.png);
    }

    &_black {
      background: url(../img/arrow.png);
    }
  }
}