@font-face {
  font-family: 'PTSansRegular';
  src: url(../fonts/PTSansRegular/PTSansRegular.eot);
  src: url(../fonts/PTSansRegular/PTSansRegular.eot?#iefix)format('embedded-opentype'),
  url(../fonts/PTSansRegular/PTSansRegular.woff) format('woff'),
  url(../fonts/PTSansRegular/PTSansRegular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PTSansBold';
  src: url(../fonts/PTSansBold/PTSansBold.eot);
  src: url(../fonts/PTSansBold/PTSansBold.eot?#iefix)format('embedded-opentype'),
  url(../fonts/PTSansBold/PTSansBold.woff) format('woff'),
  url(../fonts/PTSansBold/PTSansBold.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PTSerifRegular';
  src: url(../fonts/PTSerifRegular/PTSerifRegular.eot);
  src: url(../fonts/PTSerifRegular/PTSerifRegular.eot?#iefix)format('embedded-opentype'),
  url(../fonts/PTSerifRegular/PTSerifRegular.woff) format('woff'),
  url(../fonts/PTSerifRegular/PTSerifRegular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PTSerifBold';
  src: url(../fonts/PTSerifBold/PTSerifBold.eot);
  src: url(../fonts/PTSerifBold/PTSerifBold.eot?#iefix)format('embedded-opentype'),
  url(../fonts/PTSerifBold/PTSerifBold.woff) format('woff'),
  url(../fonts/PTSerifBold/PTSerifBold.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'NotoSansRegular';
  src: url(../fonts/NotoSansRegular/NotoSansRegular.eot);
  src: url(../fonts/NotoSansRegular/NotoSansRegular.eot?#iefix)format('embedded-opentype'),
  url(../fonts/NotoSansRegular/NotoSansRegular.woff) format('woff'),
  url(../fonts/NotoSansRegular/NotoSansRegular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'NotoSansBold';
  src: url(../fonts/NotoSansBold/NotoSansBold.eot);
  src: url(../fonts/NotoSansBold/NotoSansBold.eot?#iefix)format('embedded-opentype'),
  url(../fonts/NotoSansBold/NotoSansBold.woff) format('woff'),
  url(../fonts/NotoSansBold/NotoSansBold.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}