.quantity {
  width: 112px;
  height: 40px;
  border: 1px solid #F5F1E9;
  box-sizing: border-box;
  border-radius: 400px;
  text-align: center;
  position: relative;

  &__minus {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 13px;
    top: 12px;
    background: url(../img/minus.png) 50% 50% no-repeat;
  }

  &__plus {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 13px;
    top: 13px;
    background: url(../img/plus.png);
  }

  &__value {
    width: 19px;
    height: 19px;
    margin-top: 9px;
    border: none;
    font-family: $PTSansRegular;
    line-height: 19px;
    font-size: 16px;
    text-align: center;
    color: #000000;
  }
}