$PTSansRegular: PTSansRegular, sans-serif;
$PTSansBold: PTSansBold, sans-serif;
$PTSerifRegular: PTSerifRegular, sans-serif;
$PTSerifBold: PTSerifBold, sans-serif;
$NotoSansRegular: NotoSansRegular, sans-serif;
$NotoSansBold: NotoSansBold, sans-serif;