.header-address {
  display: flex;
  justify-content: flex-start;
  font-family: $PTSansRegular;
  font-size: 14px;

  &__text {
    margin-right: 48px;

  }

  &__link {
    color: #174F9A;
    text-decoration: none;
  }
}