.header-user {
  height: 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 35px 4px auto;

  &__icon {
    width: 14px;
    height: 17px;
    background: url(../img/icon_user.png);
    margin-right: 9px;
  }

  &__login {
    text-decoration: none;
    font-family: $PTSansRegular;
    font-size: 16px;
    color: #3B3B3B;
  }
}