.header-cart {
  height: 29px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  &__group {
    margin-bottom: 2px;
  }

  &__icon {
    width: 17px;
    height: 20px;
    background: url(../img/icon_cart.png);
    margin-right: 10px;
    position: relative;
  }

  &__ellipse {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 6px;
    top: -9px;
    background: #F5F1E9;
    border-radius: 10px;
  }

  &__quantity {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 2px;
    top: 2px;
    font-family: $PTSansRegular;
    font-size: 11px;
    text-align: center;
    color: #292929;
  }

  &__amount {
    margin-bottom: 3px;
    font-family: $PTSansRegular;
    font-size: 16px;
    color: #3B3B3B;
    text-decoration: none;
  }
}