.header-phone {
  height: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: $PTSansRegular;
  font-size: 14px;
  margin-left: auto;
  margin-right: 106px;

  &__icon {
    width: 16px;
    height: 16px;
    background: url(../img/phone.png);
    margin-right: 12px;
  }

  &__text {
    margin-right: 24px;
  }

  &__call-back {
    color: #174F9A;
    text-decoration: none;
  }
}