.header {
  width: 100%;
  height: 100px;

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0 147px;

    &_top {
      height: 46px;
      border-bottom: 1px solid #F7F7F7;
      align-items: center;
    }

    &_bottom {
      height: 55px;
      align-items: flex-end;
    }
  }
}