.header-menu {
  margin-bottom: -4px;

  &__list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
  }

  &__item {
    margin-right: 45px;
    margin-bottom: 6px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    text-decoration: none;
    font-family: $PTSansRegular;
    font-size: 16px;
    color: #343434;
  }
}