.popular-categories {
  width: 100%;
  height: 1056px;
  padding: 0 147px;
  margin: 140px auto 0;

  &__container {
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__column {
    display: flex;

    &_left {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: 30px;
    }

    &_right {
      flex-direction: column;
    }
  }

  &__block {
    position: relative;

    &_top-left {
      width: 558px;
      height: 472px;
      margin-bottom: 30px;
    }

    &_top-right {
      width: 558px;
      height: 723px;
      margin-bottom: 30px;
    }

    &_bottom-left {
      width: 264px;
      height: 472px;
      margin-right: 30px;
    }

    &_bottom-center {
      width: 264px;
      height: 473px;
    }

    &_bottom-right {
      width: 558px;
      height: 222px;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: auto;

    &_footwear {
      position: absolute;
      width: 558px;
      height: 222px;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F5F1E9;
    opacity: 0.5;
  }

  &__button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}