.contacts {
  width: 315px;
  height: 378px;
  margin-left: 40px;
  margin-top: 30px;

  &__list {
    width: 315px;
    height: 378px;
    overflow: scroll;
  }

  &__item {
    margin-bottom: 30px;
    font-family: $PTSansRegular;
  }

  &__name {
    line-height: 24px;
    font-size: 16px;
    margin-top: -4px;
  }

  &__phone {
    line-height: 24px;
    font-size: 16px;
    margin-top: 1px;
  }

  &__address {
    display: block;
    margin-top: 1px;
    padding-bottom: 1px;
    line-height: 24px;
    font-size: 16px;
    color: #174F9A;
    text-decoration: none;
    border-bottom: 1px solid rgba(23,79,154,0.15);
  }
}