.features {
  width: 100%;
  height: 160px;
  padding: 0 147px;
  background: #F7F7F7;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__block {
    width: 217px;
    height: 79px;
    margin-right: 77px;
    text-decoration: none;
    display: flex;
    position: relative;
  }

  &__block:last-child {
    margin-right: 0;
  }

  &__image {
    width: 79px;
    height: 79px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text {
    padding-left: 94px;
    margin: auto 0;
    font-family: $PTSansRegular;
    font-size: 16px;
    color: #585858;
  }
}