.about-company {
  width: 100%;
  height: 484px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &__column {
    margin: 60px;
  }

  &__text {
    margin-top: 25px;
    font-family: $NotoSansRegular;
    line-height: 24px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
  }

  &__button {
    margin-top: 46px;
  }
}