.company-slider {
  width: 482px;
  height: 483px;
  margin-top: 1px;
  position: relative;
  flex-shrink: 0;

  &__image {
    width: 482px;
    height: 483px;
    position: absolute;
  }

  &__button {
    width: 58px;
    height: 484px;
    position: absolute;
    background: linear-gradient(90deg, #080808 0%, rgba(8, 8, 8, 0) 100%);
    opacity: 0.6;
    border-radius: 0;

    &_left {
      left: 0;
      top: 0;
    }

    &_right {
      left: 424px;
      top: 0;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  &__arrow {
    position: absolute;
    left: 23px;
    top: 234px;
  }
}