.carousel-banner {
  position: relative;
  width: 1146px;
  height: 354px;
  background: #C4C4C4;

  &__image {
    position: absolute;
    width: 1146px;
    height: 354px;
  }

  &__head {
    position: absolute;
    left: 60px;
    top: 90px;
    font-family: $PTSerifBold;
    line-height: 49px;
    font-size: 40px;
    color: #FFFFFF;
  }

  &__text {
    position: absolute;
    font-family: $PTSansRegular;
    left: 62px;
    top: 147px;
    line-height: 27px;
    font-size: 18px;
    color: #FFFFFF;
  }

  &__button {
    position: absolute;
    width: 200px;
    height: 46px;
    left: 62px;
    top: 209px;
    background: #FFFFFF;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
    border-radius: 600px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
  }

  &__button-text {
    font-family: $PTSansRegular;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.03em;
    color: #1E1E1E;
  }
}