.insta {
  width: 1440px;
  height: 240px;
  margin: 0 auto;
  position: relative;

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__block {
    min-width: 240px;
    min-height: 240px;
  }

  &__block1 {
    background: url(../img/inst1.png);
  }

  &__block2 {
    background: url(../img/inst2.png);
  }

  &__block3 {
    background: url(../img/inst3.png);
  }

  &__block4 {
    background: url(../img/inst4.png);
  }

  &__block5 {
    background: url(../img/inst5.png);
  }

  &__block6 {
    background: url(../img/inst6.png);
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #6B7584;
    opacity: 0.6;
  }

  &__head {
    width: 100%;
    height: 29px;
    position: absolute;
    top: 52px;
    font-family: $PTSerifBold;
    line-height: 49px;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
  }

  &__social-block {
    width: 280px;
    height: 55px;
    position: absolute;
    left: 582px;
    top: 122px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  &__ellipse {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 26px;
  }

  &__ellipse:last-child {
    margin-right: 0;
  }

  &__vk {
    width: 30px;
    height: 16px;
    margin-top: 19px;
    margin-left: 10px;
    background: url(../img/VK.png);
  }

  &__fb {
    width: 23px;
    height: 23px;
    margin-top: 15px;
    margin-left: 16px;
    background: url(../img/FB.png);
  }

  &__ok {
    width: 13px;
    height: 23px;
    margin-top: 15px;
    margin-left: 20px;
    background: url(../img/OK.png);
  }

  &__inst {
    width: 23px;
    height: 23px;
    margin-top: 15px;
    margin-left: 15px;
    background: url(../img/inst.png);
  }
}