.carousel-review {
  margin-top: 50px;
  position: relative;

  &__wrapper {
    width: 1146px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
  }

  &__items {
    max-height: 385px;
    width: 10000px;
    display: flex;
    flex-flow: row nowrap;
  }

  &__block {
    width: 558px;
    height: 385px;
    background: #FFFFFF;
    margin-right: 30px;
    padding: 30px 60px;
  }

  &__button_left {
    position: absolute;
    top: 173px;
    left: 72px;
  }

  &__button_right {
    position: absolute;
    top: 173px;
    right: 72px;
  }
}