.pagination {
  width: 100%;
  height: 12px;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  &__dot {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-right: 20px;
    background: #FFFFFF;
  }

  &__dot:last-child {
    margin-right: 0;
  }

  &__dot_active {
    width: 12px;
    height: 12px;
    margin-right: 20px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.54);
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
  }
}