.review-item {
  position: relative;

  &__info {
    height: 100px;
    padding-left: 120px;
    margin-bottom: 17px;
    font-family: $PTSansRegular;
    position: relative;
  }

  &__photo {
    position: absolute;
    top: -15px;
    left: -32px;
  }

  &__name {
    margin-top: -1px;
    margin-bottom: 12px;
    line-height: 14px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.78);
    text-align: left;
  }

  &__date {
    margin-bottom: 8px;
    line-height: 23px;
    font-size: 14px;
    color: #B5B5B5;
  }

  &__link {
    height: 26px;
    padding-bottom: 3px;
    line-height: 26px;
    font-size: 16px;
    color: #174F9A;
    text-decoration: none;
    border-bottom: 1px solid rgba(23, 79, 154, 0.15);
  }

  &__arrow {
    margin-left: 3px;
    font-family: $PTSansBold;
    line-height: 26px;
    font-size: 18px;
    color: #174F9A;
    text-decoration: none;
  }

  &__text {
    width: 438px;
    height: 205px;
    font-family: $PTSansRegular;
    line-height: 24px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
  }
}