.preview {
  position: absolute;
  left: -15px;
  top: -15px;
  width: 267px;
  height: 703px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;

  &__block {
    width: 237px;
    height: 450px;
  }

  &__size-block {
    margin-top: 20px;
  }

  &__text {
    font-family: $PTSansRegular;
    line-height: 14px;
    font-size: 14px;
    color: #343434;
  }

  &__size {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__size-button {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 600px;
  }

  &__size-button_active {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: #174F9A;
    border: 1px solid #174F9A;
  }

  &__size-button:hover {
    background: #174F9A;
    border: 1px solid #174F9A;
  }

  &__size-text {
    font-family: $PTSansRegular;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    color: #888888;
  }

  &__size-text_active {
    color: #FFFFFF;
  }

  &__size-button:hover &__size-text,
  &__size-button_active:hover &__size-text {
    color: #FFFFFF;
  }

  &__color-block {
    margin-top: 20px;
  }

  &__color {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__color-button {
    width: 32px;
    height: 32px;
    margin-right: 7px;
  }

  &__add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
  }

  &__button-like {
    position: absolute;
    left: 160px;
    top: 25px;
  }

  &__button-compare {
    position: absolute;
    left: 205px;
    top: 25px;
  }

  &__button-quick-view {
    position: absolute;
    left: 49px;
    top: 172px;
    font-family: $PTSansRegular;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    color: #000000;
  }
}