.product {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 14px;
  margin-top: 48px;

  &__item {
    width: 237px;
    height: 450px;
    margin-right: 56px;
    margin-bottom: 80px;
    position: relative;
  }

  &__item:hover .preview {
    display: block;
  }

  &__item:nth-child(4n) {
    margin-right: 0;
  }

  &__image-block {
    width: 236px;
    height: 354px;
    display: block;
  }

  &__image {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;

    &_preview {
      margin: 20px 24px 0;
    }
  }

  &__row {
    margin-top: 21px;
    margin-bottom: 3px;
    margin-left: -1px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__name {
    margin-top: -4px;
    font-family: $PTSansRegular;
    line-height: 21px;
    font-size: 16px;
    color: #1E1E1E;
  }

  &__logo {
    width: 85px;
    height: 15px;
  }

  &__price-row {
    display: flex;
    justify-content: flex-start;
  }

  &__price {
    margin-right: 11px;
    font-family: $PTSansBold;
    font-size: 16px;
    color: #1E1E1E;
  }

  &__old-price {
    font-family: $PTSansRegular;
    font-size: 16px;
    color: #ABABAB;

    &_line-through {
      text-decoration: line-through;
    }
  }

  &__label-sale {
    position: absolute;
    width: 72px;
    height: 28px;
    top: 20px;
    background: #DE1F0D;
    font-family: $NotoSansBold;
    line-height: 28px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
  }
}