.saving {
  margin-top: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__text {
    font-family: $PTSansRegular;
    line-height: 22px;
    font-size: 14px;
    color: #343434;
  }

  &__amount {
    width: 80px;
    height: 24px;
    margin-left: 10px;
    margin-top: 2px;
    background: #04BF00;
    border-radius: 600px;
    font-family: $PTSansRegular;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
  }
}