.carousel-viewed {
  width: 1440px;
  height: 83px;
  display: flex;

  &__wrapper {
    width: 1332px;
    height: 83px;
    margin: 0 auto;
    overflow: hidden;
  }

  &__items {
    width: 10000px;
    display: flex;
    justify-content: flex-start;
  }

  &__block {
    width: 256px;
    height: 83px;
    margin-right: 13px;
    background: #F0F0F0;
  }

  &__button_left {
    margin-left: 20px;
    margin-top: 33px;
  }

  &__button_right {
    margin-right: 20px;
    margin-top: 33px;
    transform: rotate(180deg);
    order: 1;
  }
}