.footer-menu {
  width: 264px;

  &_right {
    margin-left: 30px;
  }

  &__head {
    margin-bottom: 7px;
    font-family: $PTSerifBold;
    line-height: 21px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.36);
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: block;
    font-family: $PTSansRegular;
    line-height: 37px;
    font-size: 16px;
    color: rgba(30, 30, 30, 0.87);
    text-decoration: none;
  }
}