.footer-phone {
  width: 165px;
  height: 51px;
  margin-left: 1px;
  margin-top: 33px;
  display: flex;
  flex-flow: row wrap;

  &__icon {
    width: 16px;
    height: 16px;
    background: url(../img/phone2.png);
  }

  &__number {
    top: -3px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: $PTSansRegular;
    line-height: 13px;
    font-size: 16px;
    color: #3B3B3B;
  }

  &__call-back {
    margin-left: 27px;
    margin-top: 2px;
    font-family: $NotoSansRegular;
    line-height: 24px;
    font-size: 14px;
    color: #174F9A;
    text-decoration: none;
    border-bottom: 1px solid rgba(23, 79, 154, 0.15);
  }
}