.information {
  width: 100%;
  height: 363px;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 59px 147px 0;
  }

  &__column {
    width: 220px;
    margin-left: 30px;
  }
}