.payment {
  width: 264px;
  height: 100px;
  margin-left: 30px;

  &__head {
    margin-bottom: 10px;
    font-family: $PTSerifBold;
    line-height: 21px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.36);
  }

  &__icons {
    display: flex;
    flex-flow: row wrap;
  }

  &__visa {
    width: 53px;
    height: 20px;
    background: url(../img/VISA.png);
    margin: 8px 15px 0 1px;
  }

  &__mastercard {
    width: 40px;
    height: 24px;
    background: url(../img/MasterCard.png);
    margin-top: 6px;
    margin-right: 17px;
  }

  &__qiwi {
    width: 49.15px;
    height: 24px;
    background: url(../img/Qiwi.png);
    margin-top: 7px;
    margin-right: 20px;
  }

  &__vtb24 {
    width: 79.33px;
    height: 14px;
    background: url(../img/vtb24.png);
    margin: 20px 19px 0 1px;
  }

  &__webmoney {
    width: 24px;
    height: 24px;
    background: url(../img/WebMoney.png);
    margin-top: 14px;
    margin-right: 19px;
  }

  &__sberbank {
    width: 25px;
    height: 26px;
    background: url(../img/sberbank.png);
    margin-top: 13px;
  }
}