.requisites {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 40px;
  font-family: $PTSansRegular;
  font-size: 14px;
  color: rgba(30, 30, 30, 0.6);

  &__INN {
    margin-left: 147px;
  }

  &__OGRN {
    margin-left: 36px;
  }

  &__address {
    margin-left: 40px;
  }
}