.social {
  width: 220px;
  height: 56px;

  &__head {
    margin-bottom: 20px;
    font-family: $PTSerifBold;
    line-height: 21px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.36);
  }

  &__icons {
    display: flex;
    flex-flow: row wrap;
  }

  &__vk {
    width: 23.41px;
    height: 13.33px;
    margin-left: 1px;
    margin-right: 21px;
    background: url(../img/VK2.png);
  }

  &__ok {
    width: 10.6px;
    height: 18px;
    margin-top: -3px;
    margin-right: 20px;
    background: url(../img/OK2.png);
  }

  &__fb {
    width: 15.89px;
    height: 16px;
    margin-top: -2px;
    margin-right: 21px;
    background: url(../img/FB2.png);
  }

  &__tw {
    width: 17.88px;
    height: 14.67px;
    margin-top: -1px;
    margin-right: 21px;
    background: url(../img/Twitter.png);
  }

  &__inst {
    width: 19.87px;
    height: 20px;
    margin-top: -4px;
    margin-right: 18px;
    background: url(../img/Inst_2.png);
  }
}