.subscribe-form {
  width: 720px;
  height: 46px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &__field {
    width: 240px;
    height: 46px;
    position: relative;
    margin-right: 20px;
  }

  &__placeholder {
    width: 240px;
    height: 46px;
    padding: 14px 16px 16px 25px;
    background: #FFFFFF;
    border-radius: 400px;
    border: none;
    font-family: $PTSansRegular;
    line-height: 37px;
    font-size: 16px;
  }

  &__user-icon {
    position: absolute;
    width: 11px;
    height: 14px;
    left: 213px;
    top: 16px;
    background: url(../img/icon_user2.png);
  }

  &__email-icon {
    position: absolute;
    width: 22px;
    height: 14px;
    left: 202px;
    top: 16px;
    background: url(../img/icon_mail.png);
  }

  &__submit {
    width: 200px;
    font-family: $PTSansRegular;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
}