.subscribe {
  width: 1440px;
  height: 398px;
  position: relative;
  background: url(../img/subscribe.png);

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(107, 117, 132, 0.4);
  }

  &__head {
    margin-top: 143px;
    margin-bottom: 36px;
    font-family: $PTSerifBold;
    line-height: 29px;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
  }
}