.viewed-items {
  width: 100%;
  height: 292px;
  background: #F6F6F7;
  overflow: hidden;

  &__head {
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: $PTSerifBold;
    line-height: 19px;
    font-size: 24px;
    text-align: center;
  }

  &__block {
    width: 256px;
    height: 83px;
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    text-decoration: none;
  }

  &__image {
    width: 57px;
    height: 77px;
    margin: 2px 15px 3px 2px;
  }

  &__title {
    margin-top: 8px;
    font-family: $PTSansRegular;
    font-size: 16px;
    line-height: 21px;
    color: #1E1E1E;
  }

  &__price {
    margin-top: 2px;
    font-family: $PTSansBold;
    line-height: 24px;
    font-size: 16px;
    color: #1E1E1E;
  }
}