.carousel-brand {
  position: absolute;

  &__wrapper {
    width: 1148px;
    height: 80px;
    margin: 0 75px;
    overflow: hidden;
  }

  &__items {
    margin-left: -13px;
    max-height: 80px;
    width: 10000px;
    display: flex;
    justify-content: flex-start;
  }

  &__block {
    width: 196px;
    height: 80px;
    border-right: 1px solid #F4F4F4;
  }

  &__image {
    display: block;
    width: 123px;
    height: 50px;
    margin-top: 15px;
    margin-left: 36px;
  }

  &__button {
    width: 40px;
    height: 40px;

    &_left {
      position: absolute;
      top: 20px;
      left: 0;
    }

    &_right {
      position: absolute;
      top: 19px;
      right: 2px;
    }
  }
}